.about-container{
    background-image: url('theme.png');
    margin: 0;
    display: flex;
    justify-content: center;
    
}
.about-section > h1{
    color: white;
    padding: 2rem;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.about-section > p{
    width: 70%;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 1rem 2rem;
}