#about-container{
    margin: 0;
    display: block;
    width: 100%;
}
.about-section > h1{
    color: white;
    padding: 2rem;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.about-section > p{
    width: 70%;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 1rem 2rem;
}

@media screen and (max-width:850px){
    .about-section > h1{
        color: white;
        padding: 1.25rem;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }
    
    .about-section > p{
        width: 70%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        padding: 0.75rem 1.5rem;
    }
}