.home-container >img{
    height: auto;
}

#hero-background{
    width: 100%;
    height: auto;
    position: relative;
    z-index: -2;
    display: block;
}

.home-container > h1{
    font-size: 80px;
    color: white;
    position: absolute;
    top:20%;    
    left: 7%;
    font-weight: 600;
    width: 100%;
}

.home-container > p{
    font-size: 25px;
    color: white;
    position: absolute;
    top:40%;    
    left: 7%;
    font-weight: 300;
    width: 100%;
}

/* Button styling for the hero*/
.hero-btn{
    font-size: 40px;
    position: absolute;
    top:60%;    
    left: 7%;
    cursor: pointer;
    border:2px solid;
    border-image-source: var(--themeColor);
    border-image-slice: 1;
    background: black;
    padding:0.5rem;
}
.hero-btn-font{
    color: white;
}
.hero-btn:hover{
    background:linear-gradient(to right,rgb(43, 175, 228),rgb(218, 57, 218));
    border-radius: 5px;
    border: none;
}

/*----------------------------------------------------------
    Media Query for the hero section
-----------------------------------------------------------*/
@media screen and (max-width:1150px){
    .home-container > h1{
        font-size: 65px;
        top:15%;    
        left: 7%;
        font-weight: 500;
        z-index: -1;
    }
    
    .home-container > p{
        font-size: 21px;
        top:30%;    
        left: 7%;
        font-weight: 300;
        z-index: -1;
    }
    
    .hero-btn{
        font-size: 32px;
        top:45%;    
        left: 7%;
        z-index: -1;
    }
}
@media screen and (max-width:950px){
    .home-container > h1{
        font-size: 50px;
        top:15%;    
        left: 7%;
        font-weight: 500;
        z-index: -1;
    }
    
    .home-container > p{
        font-size: 18px;
        top:27.5%;    
        left: 7%;
        font-weight: 300;
        z-index: -1;
    }
    
    .hero-btn{
        font-size: 28px;
        top:37.5%;    
        left: 7%;
        z-index: -1;
    }
    
}

@media screen and (max-width:750px){
    .home-container > h1{
        font-size: 35px;
        top:12%;    
        left: 7%;
        font-weight: 500;
        z-index: -1;
    }
    
    .home-container > p{
        font-size: 15px;
        top:21%;    
        left: 7%;
        font-weight: 300;
        z-index: -1;
    }
    
    .hero-btn{
        font-size: 20px;
        top:30%;    
        left: 7%;
        z-index: -1;
    }
    
}

@media screen and (max-width:550px){
    .home-container > h1{
        font-size: 26px;
        top:11%;    
        left: 7%;
        font-weight: 400;
        z-index: -1;
    }
    
    .home-container > p{
        font-size: 11px;
        top:18%;    
        left: 7%;
        font-weight: 250;
        z-index: -1;
    }
    
    .hero-btn{
        font-size: 10px;
        top:23.5%;    
        left: 7%;
        z-index: -1;
    }
    
}